body {
    overflow-x: hidden;
}
.rasm-qator {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;    
}
.rasm-qator img{
    max-width: 100%; 
    height: auto;
    padding: 30px;
    }


li{
    list-style: none;
    display: inline-block;
    padding-left: 10px;
}
.img-text{
    display: flex;
    gap: 10px;
    align-items: center;
    
}
.qator {
    display: grid;
    grid-template-columns: 40% 60%; 
    gap: 20px; 
    align-items: center;
    text-align: end;
}
.qator-1 {
    display: grid;
    grid-template-columns: 60% 40%; 
    gap: 20px; 
    align-items: center; 
}

.qator img {
    max-width: 100%; 
    height: auto;
    float: right;
    }
.qator-1 img {
    max-width: 100%;
    height: auto;
    padding: 20px;
}

ul {
    display: flex;              
    gap: 20px;       
    list-style: none;
    margin: 0;
    padding: 30px;
}
    
.cardo-regular {
    font-family: "Cardo", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.cardo-bold {
    font-family: "Cardo", serif;
    font-weight: 700;
    font-style: normal;
  }
  
.cardo-regular-italic {
    font-family: "Cardo", serif;
    font-weight: 400;
    font-style: italic;
  }
  